{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint/eslint-plugin"
    ],
    "extends": [
        "eslint:recommended",
        "typescript:recommended"
    ],
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        "no-extra-semi": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "react/prop-types": "off",
        "quotes": [
            "error",
            "double"
        ],
        "no-console": "error"
    }
}